.nav-padding{
    padding-right: 100px;
}

.red .active a,
.red .active a:hover{
    background-color: red;
}
#nav1
{
    background-color: aqua;
    opacity: 1.5;
    filter: (opacity=50);
}

#navBillede
{
    opacity: 100;
    filter: (opacity=100);
}

body{
    position: relative;
}

.anchorSection{
    min-height: 100vh;
}

.carousel {
      margin: auto;
      width: 65%;
      padding: 0px;
      height: auto;  
      overflow: hidden;
      aspect-ratio: 16/9;
    }
.expandedContent{
    margin: auto;
    width: 65%;
    height: auto;
    background-color: rgba(228, 99, 99, 0.279);
}
.thisImage{
    object-fit: contain;
    width: 50%;
    height: auto;
}
#artistHeading{
    background-color: black;
}

#eventsHeading{
    background-color: #9bb9bb;
}

#contactHeading{
    background-color: #1a1e21;
}

.collapsible{
    cursor: pointer;
}
.content{
    display: none;
    overflow: hidden;
}
#bm_navbar{
    position: fixed;
    font-size: 120%;
    width:40%;
}
#bm_navbar a{
    z-index: 2000;
    color: white;
}

#bm_about{
    position:relative;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%
}
