
.nav-padding{
    padding-right: 100px;
}

.red .active a,
.red .active a:hover{
    background-color: red;
}

#nav1
{
    background-color: aqua;
    opacity: 1.5;
    filter: (opacity=50);
}

#navBillede
{
    opacity: 100;
    filter: (opacity=100);
}

body{
    position: relative;
}

.anchorSection{
    margin-top: -6%;
    padding-top: 6%;
}