#shopID{
   /* background-image: url("https://drive.google.com/uc?export=view&id=1tN0ePvYeQXt_NRFDT8IlAhDlI30icc_R") ;*/
   background-color: #f1e5d2;
    min-height: 100vh;
    overflow: auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}

#shopContainer{
    display: flex;
    flex-direction: row;
}


#productContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 70vw;
    min-height: 82vh;
    margin-top: 13vh;
    margin-bottom: 5vh;
    margin-left: 5vh;


    /*these are for work purposes*/
    border-color: aqua;
    border-style: dashed;
    border-width: 3px;
}

.card{
    max-width: 20vw;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2vh;
    border-radius: 0%;
    border:rgb(0, 0, 0);
    height: 75vh;
   
    
    background-color: rgba(255, 255, 255, 0);
}
.innerCardText{
    overflow: scroll;
    
}

.price{
    color: rgb(180, 180, 180);
    font-size: 1.2rem;
}

.card button{
    border: none;
    outline: 0;
    padding: 12px;
    color: azure;
    background-color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
}

.card button:hover{
    opacity: 0.7;
}

#cart{
     /*these are for work purposes*/
     position: fixed;
     width: 20vw;
     left: 75%;
     border-color: rgb(255, 0, 242);
     border-style: dashed;
     border-width: 3px;
     min-height: 82vh;
     max-height: 82vh;
     margin-top: 13vh;
     margin-bottom: 5vh;
     margin-right: 5vh;
     background-color: rgba(0, 0, 0, 0.2);
     overflow:scroll;
}
.productName{
    font-size: 1.5vw;
}

.inStock{
    color: black;
}
.lowStock{
    color: yellow;
}
.outOfStock{
    color: red;
}

.lineItem{
    border-color: black;
    border-radius: 1px;
    border-style: solid;
}


.lineItemFinishOrder{
    bottom: 0;
    right: 50%;
    
}


.lineItemChild{
    width: 50%;
    
}
